* {
    padding: 0px;
    margin: 0px;
    border: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

button {
    width: 150px;
    height: 40px;
    background-color: #025;
    cursor: pointer;
    border-radius: 10px;
    color: #fff;
}

.cursoc1 {
    display: flex;
    justify-content: center;
    width: 200px;
    border: 4px solid #888;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0px;
    cursor: pointer;
}

.destaque {
    background-color: #fff !important;
    color: #a6aa !important;
    border-color: #5da9aa;
}

.c1 {
    background-color: #ccc;
    color: #b5a;
}

.c2 {
    background-color: #cc5c;
    color: #ba555a;
}

.caixa {
    border: 4px solid #000;
    background-color: #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    height: 500px;
    width: 300px;
}